@mixin hero-text-lg {
	p {
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 1.4em;
		line-height: 1.6em;
		margin: 0; 
		color: rgba(29, 55, 135, 1);
	}

	h1 {
	color: rgba(0, 28, 94, 1);
	}
}