button, hr, input {
  overflow: visible; }

audio, canvas, progress, video {
  display: inline-block; }

progress, sub, sup {
  vertical-align: baseline; }

[type=checkbox], [type=radio], legend {
  box-sizing: border-box;
  padding: 0; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  font-weight: 500;
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.44;
  margin: 0; }

button, select {
  text-transform: none; }

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: ButtonText dotted 1px; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal; }

textarea {
  overflow: auto; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

summary {
  display: list-item; }

[hidden], template {
  display: none; }

.toast {
  list-style: none;
  margin-left: -20px; }

.grid--4-of-4, .grid--8-of-8, .grid--12-of-12 {
  width: 100%; }

.grid--2-of-4, .grid--4-of-8, .grid--6-of-12 {
  width: 50%; }

.grid--4-of-12 {
  width: 33.3333333333%; }

.grid--8-of-12 {
  width: 66.6666666667%; }

.grid--1-of-4, .grid--2-of-8, .grid--3-of-12 {
  width: 25%; }

.grid--3-of-4, .grid--6-of-8, .grid--9-of-12 {
  width: 75%; }

.grid--push-4-of-4, .grid--push-8-of-8, .grid--push-12-of-12 {
  margin-left: 100%; }

.grid--push-2-of-4, .grid--push-4-of-8, .grid--push-6-of-12 {
  margin-left: 50%; }

.grid--push-4-of-12 {
  margin-left: 33.3333333333%; }

.grid--push-8-of-12 {
  margin-left: 66.6666666667%; }

.grid--push-1-of-4, .grid--push-2-of-8, .grid--push-3-of-12 {
  margin-left: 25%; }

.grid--push-3-of-4, .grid--push-6-of-8, .grid--push-9-of-12 {
  margin-left: 75%; }

.grid--pull-4-of-4, .grid--pull-8-of-8, .grid--pull-12-of-12 {
  margin-left: -100%; }

.grid--pull-2-of-4, .grid--pull-4-of-8, .grid--pull-6-of-12 {
  margin-left: -50%; }

.grid--pull-4-of-12 {
  margin-left: -33.3333333333%; }

.grid--pull-8-of-12 {
  margin-left: -66.6666666667%; }

.grid--pull-1-of-4, .grid--pull-2-of-8, .grid--pull-3-of-12 {
  margin-left: -25%; }

.grid--pull-3-of-4, .grid--pull-6-of-8, .grid--pull-9-of-12 {
  margin-left: -75%; }

.grid--1-of-8 {
  width: 12.5%; }

.grid--push-1-of-8 {
  margin-left: 12.5%; }

.grid--pull-1-of-8 {
  margin-left: -12.5%; }

.grid--3-of-8 {
  width: 37.5%; }

.grid--push-3-of-8 {
  margin-left: 37.5%; }

.grid--pull-3-of-8 {
  margin-left: -37.5%; }

.grid--5-of-8 {
  width: 62.5%; }

.grid--push-5-of-8 {
  margin-left: 62.5%; }

.grid--pull-5-of-8 {
  margin-left: -62.5%; }

.grid--7-of-8 {
  width: 87.5%; }

.grid--push-7-of-8 {
  margin-left: 87.5%; }

.grid--pull-7-of-8 {
  margin-left: -87.5%; }

.grid--1-of-12 {
  width: 8.3333333333%; }

.grid--push-1-of-12 {
  margin-left: 8.3333333333%; }

.grid--pull-1-of-12 {
  margin-left: -8.3333333333%; }

.grid--2-of-12 {
  width: 16.6666666667%; }

.grid--push-2-of-12 {
  margin-left: 16.6666666667%; }

.grid--pull-2-of-12 {
  margin-left: -16.6666666667%; }

.grid--5-of-12 {
  width: 41.6666666667%; }

.grid--push-5-of-12 {
  margin-left: 41.6666666667%; }

.grid--pull-5-of-12 {
  margin-left: -41.6666666667%; }

.grid--7-of-12 {
  width: 58.3333333333%; }

.grid--push-7-of-12 {
  margin-left: 58.3333333333%; }

.grid--pull-7-of-12 {
  margin-left: -58.3333333333%; }

.grid--10-of-12 {
  width: 83.3333333333%; }

.grid--push-10-of-12 {
  margin-left: 83.3333333333%; }

.grid--pull-10-of-12 {
  margin-left: -83.3333333333%; }

.grid--11-of-12 {
  width: 91.6666666667%; }

.grid--push-11-of-12 {
  margin-left: 91.6666666667%; }

.grid--pull-11-of-12 {
  margin-left: -91.6666666667%; }

.grid {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 20px;
  vertical-align: top; }
  @media (max-width: 800px) {
    .grid {
      display: block;
      margin-left: 0;
      margin-right: 0;
      width: auto; } }
  @media (max-width: 800px) and (min-width: 400px) {
    .grid[class*="grid--m-"] {
      display: inline-block;
      margin-right: -.24em; }
    .grid.grid--m-1-of-2, .grid.grid--m-2-of-4 {
      width: 50%; }
    .grid.grid--m-1-of-3 {
      width: 33.3333333333%; }
    .grid.grid--m-2-of-3 {
      width: 66.6666666667%; }
    .grid.grid--m-1-of-4 {
      width: 25%; }
    .grid.grid--m-3-of-4 {
      width: 75%; } }
  @media (max-width: 400px) {
    .grid[class*="grid--s-"] {
      display: inline-block;
      margin-right: -.24em; }
    .grid.grid--s-1-of-2, .grid.grid--s-2-of-4 {
      width: 50%; }
    .grid.grid--s-1-of-3 {
      width: 33.3333333333%; }
    .grid.grid--s-2-of-3 {
      width: 66.6666666667%; }
    .grid.grid--s-1-of-4 {
      width: 25%; }
    .grid.grid--s-3-of-4 {
      width: 75%; } }

.grid--centered {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.grid--d-first {
  float: left; }

.grid--d-last {
  float: right; }

.toast--no-gutter {
  margin-left: 0;
  width: 100%; }
  .toast--no-gutter .grid {
    padding-left: 0; }
  .toast--no-gutter .grid--span-all {
    margin-left: 0;
    width: 100%; }

.grid--ab {
  vertical-align: bottom; }

.grid--am {
  vertical-align: middle; }

html {
  font-size: 16px;
  font-size: 1em; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

em {
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 300i; }

h1, h3 {
  font-family: "Fjalla One", sans-serif; }

h2, h4 {
  font-family: "Roboto Slab", serif;
  font-weight: 400; }

h2, h3 {
  text-transform: uppercase; }

body {
  line-height: 1.45; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 5.063em; }

h2 {
  font-size: 3.375em; }

h3 {
  font-size: 2.25em; }

h4 {
  font-size: 1.5em; }

small, .font_small {
  font-size: 0.667em; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

ul li {
  list-style: none; }

* {
  margin: 0;
  padding: 0; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

.txt-c {
  text-align: center; }

.txt-l {
  text-align: left; }

.txt-r {
  text-align: right; }

.txt-j {
  text-align: justify; }

.container {
  position: relative;
  top: 0;
  width: 100%;
  max-width: 90.000em;
  margin: auto; }

.top-bar {
  position: absolute;
  top: 1.250em;
  left: 5%;
  right: 5%;
  z-index: 990; }

.foot-bar {
  position: relative;
  width: 90%;
  margin: auto;
  height: 10.0em; }

#logoBox {
  top: 0;
  float: left;
  width: 3.125em;
  height: 3.125em;
  cursor: pointer; }
  #logoBox img {
    width: 100%;
    height: 100%;
    z-index: 999; }

#navBttn {
  top: 0;
  float: right;
  width: 3.125em;
  height: 3.125em;
  cursor: pointer; }
  #navBttn img {
    width: 100%;
    height: 100%;
    z-index: 999; }

#navBox {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(29, 35, 86, 0.99);
  z-index: 999; }
  #navBox ul {
    margin-top: 8.0em; }
  #navBox ul li {
    text-align: center;
    padding-bottom: 3.125em; }
    #navBox ul li a:link {
      color: #f4f4f4; }
    #navBox ul li a:visited {
      color: #f4f4f4; }
    #navBox ul li a:hover {
      color: #35dad1; }
  #navBox #navBttnX {
    top: 0;
    float: right;
    width: 3.125em;
    height: 3.125em;
    float: right;
    cursor: pointer; }
    #navBox #navBttnX img {
      width: 100%;
      height: 100%;
      z-index: 9999; }

.hero-back {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50em;
  z-index: -5;
  overflow: hidden; }

.hero-front {
  position: absolute;
  top: 0;
  max-width: 100%;
  height: 50.0em;
  overflow: hidden;
  z-index: 1; }

.hero-content {
  position: relative;
  padding-top: 12em;
  max-width: 100%;
  height: 50.0em;
  overflow: hidden;
  z-index: 5; }

.page-back {
  position: absolute;
  top: 0;
  width: 100%;
  height: 31.250em;
  z-index: -5;
  overflow: hidden; }

.page-front {
  position: absolute;
  top: 0;
  max-width: 100%;
  height: 31.250em;
  overflow: hidden;
  z-index: 1; }

.page-content {
  position: relative;
  top: 8em;
  max-width: 100%;
  overflow: hidden;
  z-index: 5; }

.space-fluid {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow: hidden; }

.space-fixed {
  position: relative;
  width: 60.000em;
  max-width: 60.000em;
  margin: auto;
  overflow: hidden; }

.h-100 {
  height: 6.250em; }

.h-200 {
  height: 12.500em; }

.h-300 {
  height: 18.750em; }

.h-400 {
  height: 25.000em; }

.h-500 {
  height: 31.250em; }

.h-600 {
  height: 37.500em; }

.h-700 {
  height: 43.750em; }

.h-800 {
  height: 50.000em; }

/*FILTERS*/
.filter-dots-1 {
  background-image: url("img/bg-dots-1.svg");
  background-position: center;
  background-repeat: repeat; }

.filter-lines-1 {
  background-image: url("img/bg-lines-1.svg");
  background-position: center;
  background-repeat: repeat; }

.filter-lines-2 {
  background-image: url("img/bg-lines-2.svg");
  background-position: center;
  background-repeat: repeat; }

.filter-lines-3 {
  background-image: url("img/bg-lines-3.svg");
  background-position: center;
  background-repeat: repeat; }

/*Invisible and Visible*/
.space-invisible {
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  opacity: 0; }

.space-visible {
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  opacity: 1; }

.nsf-l {
  display: none; }

.nsf-lm {
  display: none; }

/*FEDD*/
@-webkit-keyframes feddIt {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes feddIt {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.feddSlw {
  -webkit-animation-name: feddIt;
  animation-name: feddIt;
  -webkit-animation-duration: 2980ms;
          animation-duration: 2980ms; }

.feddMed {
  -webkit-animation-name: feddIt;
  animation-name: feddIt;
  -webkit-animation-duration: 1560ms;
          animation-duration: 1560ms; }

.feddFst {
  -webkit-animation-name: feddIt;
  animation-name: feddIt;
  -webkit-animation-duration: 760ms;
          animation-duration: 760ms; }

/*SLIDELEFT*/
@-webkit-keyframes showLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes showLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
.leftSlow {
  -webkit-animation-name: showLeft;
  animation-name: showLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s; }

/*SHOWRIGHT*/
@-webkit-keyframes showRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes showRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
.showRight {
  -webkit-animation-name: showRight;
  animation-name: showRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s; }

.showRightFst {
  -webkit-animation-name: showRight;
  animation-name: showRight;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms; }

/*SLIDEUP*/
@-webkit-keyframes sUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
    transform: translateY(200px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes sUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
    transform: translateY(200px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.sUpSlow {
  -webkit-animation-name: sUp;
  animation-name: sUp;
  -webkit-animation-duration: 2800ms;
          animation-duration: 2800ms; }

.sUpMed {
  -webkit-animation-name: sUp;
  animation-name: sUp;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms; }

.sUpFst {
  -webkit-animation-name: sUp;
  animation-name: sUp;
  -webkit-animation-duration: 460ms;
          animation-duration: 460ms; }

.btn {
  width: 9.375em;
  color: #ee4d67;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.86em;
  padding: 0.625em 1.250em 0.625em 1.250em;
  border: solid #ee4d67 0.188em;
  text-decoration: none;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 1.25em;
  padding-top: 1.25em; }

.btn:hover {
  background: rgba(255, 255, 255, 0.33);
  text-decoration: none; }

/*COLORS*/
.hero-back {
  background-image: url("img/hero.png");
  background-size: cover;
  background-repeat: no-repeat; }

.back-tint {
  background-color: rgba(0, 235, 127, 0.07); }

.side-padding {
  padding: 0.25em 1.75em 0.5em 1.75em; }

.feat-box {
  position: relative;
  width: 12.5em;
  height: 12.5em;
  margin: auto;
  padding: 0.25em 0.75em 0 0.75em; }
  .feat-box img {
    width: 100%; }

.feat-content {
  position: relative;
  margin: auto; }

@media (max-width: 50em) {
  .container {
    background-color: rgba(0, 200, 123, 0.3); }

  body {
    line-height: 1.45; }

  p {
    margin-bottom: 1.3em; }

  h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    line-height: 1.2; }

  h1 {
    margin-top: 0;
    font-size: 3.157em; }

  h2 {
    font-size: 2.369em; }

  h3 {
    font-size: 1.777em; }

  h4 {
    font-size: 1.333em; }

  small, .font_small {
    font-size: 0.75em; }

  .top-bar {
    position: absolute;
    top: 1.250em;
    left: 2.5%;
    right: 2.5%;
    z-index: 990; }

  .page-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 18.750em;
    z-index: -5;
    overflow: hidden; }

  .page-front {
    position: absolute;
    top: 0;
    max-width: 100%;
    height: 18.750em;
    overflow: hidden;
    z-index: 1; }

  .page-content {
    position: relative;
    top: 5em;
    max-width: 100%;
    overflow: hidden;
    z-index: 5; }

  .space-fixed {
    position: relative;
    width: 40.000em;
    max-width: 40.000em;
    margin: auto;
    overflow: hidden; }

  .nsf-ms {
    display: none; }

  .nsf-lm {
    display: none; }

  /* <--- */ }
@media (max-width: 25em) {
  .container {
    background-color: rgba(27, 86, 246, 0.2); }

  body {
    line-height: 1.45; }

  p {
    margin-bottom: 1.3em; }

  h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    line-height: 1.2; }

  h1 {
    margin-top: 0;
    font-size: 2.441em; }

  h2 {
    font-size: 1.953em; }

  h3 {
    font-size: 1.563em; }

  h4 {
    font-size: 1.25em; }

  small, .font_small {
    font-size: 0.8em; }

  .top-bar {
    position: absolute;
    top: 1.250em;
    left: 0.75%;
    right: 0.75%;
    z-index: 990; }

  .hero-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50em;
    z-index: -5;
    overflow: hidden; }

  .hero-front {
    position: absolute;
    top: 0;
    max-width: 100%;
    height: 50.0em;
    overflow: hidden;
    z-index: 1; }

  .hero-content {
    position: relative;
    top: 6em;
    max-width: 100%;
    overflow: hidden;
    z-index: 5; }

  .hero-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 31.250em;
    z-index: -5;
    overflow: hidden; }

  .hero-front {
    position: absolute;
    top: 0;
    max-width: 100%;
    height: 31.250em;
    overflow: hidden;
    z-index: 1; }

  .hero-content {
    position: relative;
    top: 2em;
    max-width: 100%;
    overflow: hidden;
    z-index: 5; }

  .page-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 12.500em;
    z-index: -5;
    overflow: hidden; }

  .page-front {
    position: absolute;
    top: 0;
    max-width: 100%;
    height: 12.500em;
    overflow: hidden;
    z-index: 1; }

  .page-content {
    position: relative;
    top: 2em;
    max-width: 100%;
    overflow: hidden;
    z-index: 5; }

  .space-fixed {
    position: relative;
    width: 18.750em;
    max-width: 18.750em;
    margin: auto;
    overflow: hidden; }

  .nsf-s {
    display: none; }

  /* <--- */ }
